[2020-03-08 13:26] tzach opened #3 "Create a pip package for the Scylla Driver fork"

[2020-06-01 06:56] lauranovich opened #11 "Issue in page DataStax Python Driver for Apache Cassandra®"
I would like to report an issue in page http://docs.scylladb.com/index

### Problem
we need to add a version tab for each driver version
###  Suggest a fix

[2020-06-01 06:57] tzach opened #12 "Update the Doc page title to Scylla"

[2020-06-01 07:05] dimaqq opened #13 "pypi project?"
scylladb/python-driver README page recommends to install using `$ pip install cassandra-driver`

yet the pypi page for cassandra-driver points to datastax (homepage link, versions in releases match to datastax).

it's all a bit confusing for a newcomer:
* 3 different things (cassandra,datastax,scylladb)
* links going from A to B...

Ideally, releases from this codebase are published to pypi, and t

[2020-06-01 09:39] fruch commented on #13
thanks, @dimaqq, we are working on publishing it to pypi, and we'll update the README and docs accordingly once it's ready.

out of curiosity is there any specific reason why you want to install this fork ?

[2020-06-01 12:20] lauranovich opened #14 "License in readme.rst"
I am not sure what the license should say, but it shouldn't be Datastax, right?

[2020-06-01 13:29] dimaqq commented on #13
To be honest I'm not sure what the current state is.
Looking at upcoming EuroPython talks, it seems there should be an awesome Python driver for ScyllaDB.
However, releases here are behind the upstream.
So, I dunno if you guys are planning to make a better driver, or are contributing your changes upstream.

If it's the earlier, I'd love to try it.

[2020-06-01 13:38] fruch commented on #13
@dimaqq it's the earlier see #4 for the details of what @ultrabug is going to talk in europython.
we didn't yet merge it, and we are working on publishing this fork in pypi.

If you you upto taking that PR and trying it out, that would be a nice.

as for contributing to upstream, we would love to, but this specific feature (i.e. shard aware) is scylla only, and we had trouble in the past pushing i

[2020-06-01 14:58] ultrabug commented on #13
@dimaqq Hi, if you manage to try the #4 branch that @fruch mentioned, we'd love to hear about your results please!

Definitely, talking about our work at EuroPython is also a hope for me to make sure we release it before on PyPi.

As for making "a better driver", I hear what you're saying. Thing is since upstream will not merge our work and a lot of people are using and have code based on cassandr

[2020-06-01 16:09] fruch commented on #13
we'll do our best (we'll talk on the price for setting me a due data in next scylla summit :beer:)

I would add the up until now, we were trying to be complaint with Cassandra, but we are now doing a bit more than just complaint, and some of those things might start happening in drivers side.

[2020-06-01 16:11] fruch commented on #11
@lauranovich  can you explain a bit more ? isn't this for the docs repo ?

[2020-06-02 00:45] dimaqq commented on #11
I think Laura is talking about something like https://docs.datastax.com/en/developer/python-driver/ where every package version has own documentation.

To be honest, I'm not a fan of this, because it's just so hard to manage.

Rather, I think the Python way is better where e.g. https://docs.python.org/3/library/sys.html#sys.addaudithook has a section `Added in 3.8`

[2020-06-02 01:24] dimaqq commented on #13
@ultrabug do I need to set up anything special to access shards in a local test setup that has:
* 1 docker container
* thus 1 cql port exported
* cpuset 0-7

[2020-06-02 05:22] fruch commented on #13
As you looked at the PR already, you don't need to do anything just connect, and it would open connections to all shards.

I was thinking on doing some kill switch to disable, but didn't have it enough thought yet. If it would be an environment variable or a new Cluster parameter, or both.

[2020-06-02 05:37] lauranovich commented on #11
As the driver docs are generated on their own, the solution will have to be here - but this is a docs issue as well as a python version issue.
1. do we want users of the driver to download a specific version like in Datastax?
2. do we want users of the driver to view docs only specific to the version they download.
if the answer is yes, we need a solution.
if not, and we are happy with it being al

[2020-06-02 05:46] lauranovich commented on #12
@tzach this was fixed with the latest merge, can you check?

[2020-06-02 05:47] fruch commented on #11
O.k. I think we can do

Python is doing both things

I agree it's a bit complex, but doable.

I'm o.k. with starting with one documention, and then we'll see how we improve it.

Maybe it's on @tzach plan already ?

[2020-06-02 05:53] lauranovich commented on #11
@fruch - this is something we'll probably assign to @dgarcia360 so no need to worry about it - right @tzach

[2020-06-02 06:16] dimaqq commented on #13
Oh perhaps I forgot to mention... I'm talking scylla from home, over the single exposed port.
I was kindof assuming that 1 port meant 1 shard...
I guess the server can juggle the individual connections despite being to the same port, if the connection includes the shard spec... is this how it works?

[2020-06-02 06:25] fruch commented on #13
On the host end it's one port, but it's bounces semi randomly to shards on connection.
So each time you connect you end up in a different shared.
We cache the open connections per shard id

See
https://github.com/scylladb/scylla/blob/master/docs/protocol-extensions.md#intranode-sharding

[2020-06-02 06:29] dimaqq commented on #13
Right, so all this does is that there are N connections and statistically the requests on each connection are more likely to (and in best case guaranteed to) require data from a single shard.
The server then does whatever it wants?

[2020-06-02 06:41] fruch commented on #13
The server would sent it to correct node/shard that should hold the data based on the token ring.

But if you get to the correct one, you don't need extra network hop, nor passing the data via rpc to right shard.

This is only relevant to specific queries, and when token aware policy is used.

for example full scan isn't gaining too much out of it...

Anyhow I think there should be a spoiler alert

[2020-06-02 07:14] tzach commented on #12
Are you sure it was fix? which commit?
Look like there is no title defined in conf.py

[2020-06-02 08:23] fruch commented on #11
from what I'm seeing so far, I think he can do that blindfolded :wink:

[2020-06-02 09:22] tzach opened #16 "Doc: include version selector to the generated docs"
Example: https://docs.datastax.com/en/developer/python-driver

[2020-06-02 09:23] tzach commented on #16
Latest version should be marked as such.

[2020-06-02 09:27] tzach commented on #16
@dgarcia360

[2020-06-02 09:38] fruch commented on #13
@dimaqq
FYI, we have a #pythonistas channel on our user slack, you are more then welcome to join:
https://scylladb-users.slack.com/archives/CQ8R61TQX

[2020-06-03 01:28] dimaqq commented on #13
Awesome, it appears to be invite-only though...

[2020-06-03 03:21] fruch commented on #13
It's a self service, but forgot to show you the front door:
http://slack.scylladb.com/

[2020-06-03 18:42] tzach opened #18 "Update the Doc main Index page to Scylla content"

[2020-06-03 19:05] tzach opened #19 "Docs: Issue in page Installation"
I would like to report an issue in page /installation

### Problem

Install use
[code]
###  Suggest a fix
Should use scylladb/python-driver

[2020-06-03 19:06] tzach commented on #19
On the same page: section (Optional) DataStax Graph should be removed

[2020-06-03 19:07] tzach opened #20 "Docs: Issue in page Getting Started"
I would like to report an issue in page /getting_started

### Problem
Update the cluster from Cassandra to Scylla

[2020-06-03 19:08] tzach commented on #20
@fruch can you please add Docs label to this issue?

[2020-06-03 19:09] tzach opened #21 "Docs: Add Python Driver link in the top menu"
Just before "Scylla Cloud"
![image](https://user-images.githubusercontent.com/170200/83678750-e322ef00-a5e6-11ea-98b4-ee77ae8c9eab.png)

[2020-06-03 19:20] fruch commented on #19
See #15 the name for installing would be `scylla-driver`

[2020-06-03 20:59] #21 closed

[2020-06-04 05:41] fruch commented on #19
@tzach closing this, since I've merged #15
the remove of specific sections, we should open a new issue/PR for it

[2020-06-04 05:41] #19 closed

[2020-06-04 05:42] fruch commented on #11
replaced by #16

[2020-06-04 05:42] #11 closed

[2020-06-04 06:55] tzach opened #24 "Copyright"
We need to add Scylla Copyright in **addition** " to existing "© 2013-2017 DataStax" for update pages.
The parameter is in the conf.py

[2020-06-07 15:37] #18 closed

[2020-06-07 15:38] fruch commented on #3
close by #15

[2020-06-07 15:38] #3 closed

[2020-06-07 15:39] fruch commented on #13
close by #15

[2020-06-07 15:39] #13 closed

[2020-06-07 15:40] fruch opened #26 "Create a section to explain differences from cassandra-driver"
* shard-awareness
* in memory table flag

[2020-06-07 19:14] tzach opened #27 "Doc: Explain what is shard aware driver, why they are better"

[2020-06-08 00:13] dimaqq opened #28 "Please publish wheels for Python-3.9 🙏"
Current is `Python 3.9.0b1` and the release will be later this year...
Hopefully it's just a matter of adding the one more version to your travis config...

[2020-06-08 06:59] bhalevy opened #29 "Issue in page Python Driver for Scylla and Apache Cassandra®"
I would like to report an issue in page http://docs.scylladb.com/index

### Problem

missing Scylla copyright in the copyrights section at the bottom?

###  Suggest a fix

Add one

[2020-06-08 12:08] fruch opened #30 "Source distribution isn't created on release"

[2020-06-08 12:23] fruch commented on #28
once they get it working, it would almost automatically:
https://github.com/joerick/cibuildwheel/issues/370

[2020-06-08 12:35] fruch commented on #28
there isn't a manylinux docker ready yet:
https://github.com/pypa/manylinux/issues/482

[2020-06-08 16:06] dgarcia360 opened #31 "Fix docs warning builds"
Building the docs raises up to 42 warnings related to xrefs duplications.

I plan to submit a PR fixing them.

[2020-06-10 01:34] dimaqq commented on #28
Would it make sense to release `sdist` (source distribution, aka tarball) in the meantime?

[2020-06-10 04:20] fruch commented on #28
I've uploaded the sdist for 3.22.0..
hopefully for the next version we'll automate the sdist into release.

I'll leave this one open and wait for manylinux Dockers to be available

[2020-06-10 06:21] fruch commented on #27
I've added this in #33

[2020-06-10 06:34] fruch opened #34 "Some of the links on the header are broken"
I would like to report an issue in page http://docs.scylladb.com/installation

### Problem

Links on the top of the page to scylla docs and for python-driver are broken
both pointing to https://scylladb.github.io/

###  Suggest a fix
one should be pointing to https://docs.scylladb.com/
and the python driver should point to https://scylladb.github.io/python-driver

[2020-06-10 06:48] tzach opened #35 "Page URL with out "/" bring back the old Theme"
Old Theme
https://scylladb.github.io/python-driver/installation.html
https://scylladb.github.io/python-driver/installation

New Theme
https://scylladb.github.io/python-driver/installation/

[2020-06-10 06:49] tzach commented on #35
@dgarcia360 any idea?

[2020-06-10 06:54] dimaqq commented on #28
+1, it's pretty much essential for users who base their containers off Alpine.

[2020-06-10 06:59] tzach commented on #34
This should be fix in https://github.com/scylladb/sphinx-scylladb-theme

I can change the link to https://scylladb.github.io/python-driver, but best practice is to have the same links working localy (with `make preview`) and on the site
And this is not the case.

@dgarcia360 can you please advise?

[2020-06-10 07:01] dgarcia360 commented on #35
It seems to be a cache issue since there was already a GitHub Pages branch setup. To solve it, I would try to remove / add again GitHub Pages from the repository settings: https://github.com/scylladb/python-driver/wiki/Documentation-notes#enabling-github-pages-deployment

If reenabling GitHub Pages does not solve the issue, I would opt to remove the GitHub Pages branch and recreate it again to mak

[2020-06-10 07:04] dgarcia360 commented on #34
@fruch Good catch, I will review the issue and submit a PR accordingly so that the local and online version generates the correct URLs.

[2020-06-10 07:07] tzach commented on #34
@dgarcia360 I will fix the theme

[2020-06-10 07:37] tzach commented on #34
https://github.com/scylladb/sphinx-scylladb-theme/pull/36

[2020-06-15 22:02] dorlaor opened #38 "Issue in page Python Driver for Scylla and Apache Cassandra®"
I would like to report an issue in page http://docs.scylladb.com/index

### Problem
At the very most bottom of the page there is a Datastax
copyright. It's an additional one than the one withing the page

###  Suggest a fix
Eliminate it. It looks like a Datastax page due to it

[2020-06-16 05:32] tzach opened #39 "Docs: Clean DSE info from the driver"
For example:
https://scylladb.github.io/python-driver/installation/

[2020-06-19 11:54] dgarcia360 commented on #31
#41 should close this issue. There are some additional warnings not strictly linked with docs but with the python-driver implementation.The generator still raises the next warnings:

1. ``python-driver/cassandra/metadata.py:docstring of cassandra.metadata.group_keys_by_replica:11: WARNING: Block quote ends without a blank line; unexpected unindent.``

The function is outside a class.

2. ``home/dg

[2020-06-22 09:21] tzach opened #43 "Link to Python Driver in the top menu is broken"
Link to https://scylladb.github.io/ not to https://scylladb.github.io/python-driver/

[2020-06-23 19:43] tzach commented on #43
@dgarcia360 can you please take a look?
I was under the impression we fixed it already

[2020-06-25 05:41] tzach commented on #43
@dgarcia360 ping

[2020-06-25 05:42] tzach commented on #35
Refreshing does not help
![image](https://user-images.githubusercontent.com/170200/85661673-a7e47f00-b6bf-11ea-81a9-1e0997ffd239.png)

[2020-06-25 05:58] fruch commented on #35
@tzach is there any more link going to the old theme ? I've update the readme.rst, there are more places ?

[2020-06-25 06:06] dgarcia360 commented on #43
@tzach Fixed in https://github.com/scylladb/python-driver/pull/45

[2020-06-25 06:30] tzach commented on #35
There are many in the API section.
The right solution is to apply the new theme to all pages. I'm not sure how to do that, see @dgarcia360 advice above

[2020-06-25 06:50] dgarcia360 commented on #35
The ``gh-pages`` branch had content from DataStax. https://github.com/scylladb/python-driver/pull/36 divides the generated documentation in different folders perversion, so it should be straightforward to remove all the previously generated files that do not fall into a new folder. I'll submit a new PR fixing the ``gh-pages`` branch after multiversion is merged.

Additionally, please try to [remov

[2020-06-29 15:26] #34 closed

[2020-06-29 15:26] #43 closed

[2020-07-09 14:16] fruch commented on #28
sdist is now automaticl

[2020-07-10 05:27] #26 closed

[2020-07-10 05:29] #30 closed

[2020-07-23 13:40] fruch commented on #28
@dimaqq a surprise
https://files.pythonhosted.org/packages/7c/7c/ade606f13704c11505449a9e2cafe553fd83c3e888dc03edabe6cb4586f2/scylla_driver-3.22.3-cp39-cp39-manylinux2010_x86_64.whl

[2020-07-23 13:40] #28 closed

[2020-07-27 12:26] lauranovich opened #62 "Issue in page Python Driver API Documentation"
I would like to report an issue in page https://scylladb.github.io/python-driver/master/api/index.html
### Problem
Cassandra is mentioned where I think it should be Scylla
###  Suggest a fix

[2020-07-27 12:28] lauranovich opened #63 "Issue in page Python drivers Page"
I would like to report an issue in page https://scylladb.github.io/python-driver/master/
### Problem
pressing the Report an issue on this page does not fill in the fields properly - the URL by default is docs.scylladb.com
###  Suggest a fix

[2020-07-27 12:28] lauranovich commented on #63
I suspect the issue will also be the same in Scylla Monitoring.

[2020-07-27 12:30] lauranovich commented on #63
The operation works correctly in that the issue is created in the right repo but the URL by default is  http://docs.scylladb.com/something  and I am not sure it should be that way

[2020-07-29 09:51] huangli812 opened #65 "Got a fixed fetchsize_limit=15 when I use NumpyProtocolHandler"
when I used NumpyProtocolHandler to load data from scylladb to Numpy, Scylladb auto-paged my resultset and set a fetchsize_limit to 15.
[code]

I only got a dataframe with  [15 rows x 2 columns] shape.
I need to use next() method to get next page.
The default_fetch_size config is useless, and the statement fetch_size is also useless when it greater than 15.

However, I got a dataframe with [30000

[2020-07-29 10:36] fruch opened #66 "docs building is broken, poetry missing"
@dgarcia360

seem like it's not build since I've merge #61

[2020-07-29 10:37] #31 closed

[2020-07-29 10:37] #35 closed

[2020-07-29 10:41] fruch commented on #62
@lauranovich
if you referring to the "DataStax Graph", then yes, but the rest is the name of the module and it's still cassandra

[2020-07-29 10:50] fruch commented on #65
@huangli812 on which version of scylla you are running this code ?

When you say:

it's with this driver and scylladb ? or with this driver and cassandra ?

[2020-07-29 10:54] huangli812 commented on #65
Both scylla-driver and cassandra-driver can get the this problem  if the database is Scylladb.

[2020-07-29 11:29] fruch commented on #65
@huangli812 I never tried this feature, I guess it a good time to try it out :)

[2020-07-29 12:14] huangli812 commented on #65
I am building  a big data analytic system for metro vehicle with Scylladb. For simplicity,  I do not want to use Apache Spark. I load data with this NumpyProtocalHandler, and send data directly into Tensorflow.  That is why I found that I can not get Items in Numpy array more that 15 in one page.

[2020-07-29 12:55] fruch commented on #65
@huangli812 can you share the schema of the table ? also on which version of scylladb you are work.

I've run the integration test with scylla, with this modification:
[code]

and I see pages of 50 items..., I'll try adding pandas to the mix

[2020-07-29 12:59] fruch commented on #65
you know this is taking only one row of the data ?

[2020-07-29 13:35] huangli812 commented on #65
Yes, I know.
But it is design to get a numpy array with many Items.
I got many pages with 15 items in a array each when I used rows.all().
I will try this integration  test after I arrive my office tomorrow.

[2020-07-29 16:50] dgarcia360 commented on #66
It seems I missed a line! Please, review #67 when you have some time. Thanks!

[2020-07-30 01:47] huangli812 commented on #65
You are right. I found  this problem has something to do with my table schema. I need more time to do more test.

[2020-07-30 06:53] huangli812 commented on #65
I created a new big table with 1000 columns, and inserted 3000 rows with this code:
[code]

and I use the code i mentioned above:
[code]

[2020-07-30 07:31] fruch commented on #65
Can you try adding tracing to this call ?

https://scylladb.github.io/python-driver/master/faq.html#how-do-i-trace-a-request

Also can you add the `LIMIT 10000` into the query ?

[2020-07-30 07:38] huangli812 commented on #65
I added a limit 10000 and added a tracing this code below @fruch
[code]
Here is the result
[code]

[2020-08-01 05:01] huangli812 commented on #65
I finally find some explaination for this problem. According to this article [ScyllaDB Paging](https://www.scylladb.com/2018/07/13/efficient-query-paging/) , ScyllaDB has a built-in (non-optional) page size limit of 1MB while Cassandra does not.
This is not a problem in common use case. However, when we using NumpyProtocolHandler, we want to get large mount of data into one Numpy Array, this limit

[2020-08-01 20:07] fruch commented on #65
Did you tried using
session.default_fetch_size = None ?

[2020-08-03 00:48] huangli812 commented on #65
@fruch
Oh, I tried this just now. I successfully loaded 10000 rows into one numpy array with session.default_fetch_size = None. So glad we can manage this.
However, this is a difference between cassandra and scylla. Should we add something to the document about this, in case somebody want to use this NumpyProtocolHandler too?

[2020-08-13 08:50] #66 closed

[2020-08-16 06:11] fruch commented on #65
I would rather first have a test case to reproduce, so I can understand the root cause of this difference, and then yes deferentially would look for the best place to document it

[2020-09-23 13:39] rkbala opened #70 "python-driver for scyllaDB does not support multiple ports for IP outside the docker."
I have docker with scylla nodes running in my MAC. I have exposed the 9042 to ports to 3 different ports say 20, 21, 22 of ip 0.0.0.0. How would I write the connection code if my python app is outside the docker?
Currently I use the code `self.cluster = Cluster(contact_points=["0.0.0.0"], port = 20)`. But this connects to only one scylla node. But yeah replication happens across other 2 nodes. But

[2020-09-23 13:42] rkbala commented on #70
It worked with below code:
`self.cluster = Cluster(contact_points=[DefaultEndPoint(address="0.0.0.0", port=20), DefaultEndPoint(address="0.0.0.0", port=21),DefaultEndPoint(address="0.0.0.0", port=22)])`

[2020-09-23 13:42] #70 closed

[2020-12-31 16:01] fruch opened #84 "the new url for the docs isn't working"
going to https://python-driver.docs.scylladb.com give 404, and bad certificates

[2021-01-04 17:31] #84 closed

[2021-01-05 09:46] dgarcia360 opened #86 "Proposal: Create a stable tag"
Related issue: https://github.com/scylladb/sphinx-scylladb-theme/issues/87

Every repository with docs could maintain a `stable` tag. The purpose is to have a default link to share that does not change, which is also beneficial for SEO purposes.

## Create / Update the tag

To create a `stable` tag, the repo maintainer should run the following commands:

[code]
Every time you create a new release

[2021-01-05 10:08] fruch commented on #86
so I can tag `3.24.1-scylla` with `stable`, and it would magically work out of the box ? or I need to change something else in the this repo ?

[2021-01-05 11:11] dgarcia360 commented on #86
Exactly, it will work out of the box.I'll have to include the stable tag as the latest_version in a separate commit, but this is done only once.

If you want to keep an older version, let's say 3.21.0-scylla, you will still need to list it in the [supported versions](https://github.com/scylladb/python-driver/pull/83#issue-547311023) array.

[2021-01-05 19:42] #86 closed

[2021-01-06 15:39] lauranovich opened #88 "docs: Make multiversion preview - compilation errors"
@dgarcia360 - make mutiversion preview resulted in the following errors:
[code]

[2021-01-07 09:46] dgarcia360 commented on #88
I see two different issues:

### ``make preview`` warnings

The warnings raised by ``make preview`` were introduced with the recent [3.24.1 backport](https://github.com/scylladb/python-driver/releases/tag/3.24.1-scylla). Not sure if some ``.rst`` files and code integrated from the upstream repository were not formatted as expected, or if the merge removed patches we previously applied. Nevertheles

[2021-01-07 13:58] #24 closed

[2021-01-07 13:58] #29 closed

[2021-01-07 13:58] #38 closed

[2021-01-07 14:10] lauranovich commented on #14
![Screenshot from 2021-01-07 16-10-00](https://user-images.githubusercontent.com/36125151/103902165-cf9eb000-5102-11eb-8c0d-86517c00ec91.png)

[2021-01-07 14:10] lauranovich commented on #14
@tzach - we should add scylla here just like in the copyright footer, right?

[2021-01-07 14:17] nyh commented on #29
I don't understand what this issue is about: Clearly it's supposed to be about the Python driver (as it is in the python-driver repository) but the issue referred to http://docs.scylladb.com/index. I guessed maybe you meant https://github.com/scylladb/python-driver/ (i.e., the README.md file), but that seems not to have been fix. It's so confusing...

[2021-01-07 14:21] dgarcia360 commented on #12
@tzach @lauranovich I'm not sure to understand the issue, what do you mean by doc page title?

The main doc page title is `Python Driver for Scylla and Apache Cassandra®.` This is defined in [index.rst](https://github.com/scylladb/python-driver/blob/master/docs/index.rst)

![image](https://user-images.githubusercontent.com/9107969/103903057-47fd7500-50f3-11eb-95f6-0c60d895e70c.png)

The HTML title

[2021-01-07 14:28] lauranovich commented on #12
@dgarcia360 - which commit introduced this change?

[2021-01-07 14:30] lauranovich commented on #16
Fixed with #12 #25

[2021-01-07 14:30] dgarcia360 commented on #12
https://github.com/scylladb/python-driver/commit/d9548dd7bfea2a6dc6f110fe81b55f1b3ffdc049#diff-8d068e8797e88947c320f79e856c3e16a72b730124a8f9d7031e2c4680dfa534

[2021-01-07 14:32] dgarcia360 commented on #16
I believe this can be closed, duplicated https://github.com/scylladb/python-driver/issues/86

[2021-01-07 14:33] lauranovich commented on #12
fixed with PR#25, commit d9548dd#diff-8d068e8797e88947c320f79e856c3e16a72b730124a8f9d7031e2c4680dfa534, closing

[2021-01-07 14:33] #12 closed

[2021-01-07 14:38] lauranovich commented on #63
this is no longer an issue,closing

[2021-01-07 14:38] #63 closed

[2021-01-07 14:40] lauranovich commented on #16
closing, this is no longer an issue

[2021-01-07 14:40] #16 closed

[2021-01-07 14:42] lauranovich commented on #16
Older versions are also marked

[2021-01-07 15:16] fruch commented on #29
It the "open issue" button on the docs, it's temple is a bit misleading and doesn't yet fit all the repos that use it
FYI, @dgarcia360 @lauranovich, I think we can make this template a bit more relevant per docs site ? and include the correct links, as the minimum ?

[2021-01-07 15:19] fruch commented on #29
Looking at the new template of the docs, seem like this issue i'm talking about was fixed

but I've run into a different one:
![image](https://user-images.githubusercontent.com/340979/103909533-7f2c5000-510c-11eb-86bb-293d174d7eae.png)

[2021-01-07 15:22] fruch commented on #29
raised it in the correct place:
https://github.com/scylladb/sphinx-scylladb-theme/issues/102

[2021-01-11 12:39] dgarcia360 commented on #88
Closed by #89

[2021-01-11 12:39] #88 closed

[2021-01-13 19:21] fruch opened #91 "Add support out-of-the-box for retries with exponential back-off"
as per of @kbr- talk, we don't have a reliable medoth to configure retries with exponential back-off.

We should rectify it (or at least try)

[2021-01-13 19:26] ultrabug commented on #91
We could easily use https://tenacity.readthedocs.io/en/latest/ if we are okay to add a dependency to the project

That would get us powerful and free retry+backoff strategies

[2021-01-13 19:35] fruch commented on #91
Even that I love that package, but need to see if it's fitting the current retry model (i.e. it might need to be something async in style, and I'm not sure it can do that)

[2021-01-13 20:54] fruch commented on #91
looking a bit on the code, we'll need to pass the time to wait to `_handle_retry_decision`
i.e extending the number of the return values from the `on_*` function, that third one would be the wait time.

and then maybe we could implement something like this:
[code]

but the problem is that the executor that it submitted into, it by default has only 2 executors, and it can delay a task submitted
in

[2021-01-13 21:02] fruch commented on #91
Lookig a bit further, we might use the `create_timer` function that should use the correct machinery on each io backend.

[2021-01-19 22:22] fruch opened #92 "Issue in page Scylla Specific Features"
I would like to report an issue in page https://python-driver.docs.scylladb.com/stable/scylla_specific

### Problem

###  Suggest a fix
we should add link to @ultrabug pretensions (both the europython2020, and the scylla summit 2020)

[2021-02-03 15:15] lauranovich opened #94 "Docs: Document shard-aware"
Copy from @sitano
scylladb/scylla-docs#3325

The documentation must explicitly answer the following questions:

How to enable shard awareness
How shard awareness is connected to the TokenAwarePolicy
Is it required to specify (2) policy explicitly during Connect call
What will happen if you would not specify (2) explicitly to Connect call
If nothing is required to enable shard awareness what are th

[2021-02-22 19:25] tzach opened #95 "Docs: document available releases and matching upstream releases"
Datastax - 3.21.0 3.22.0 3.23.0 3.24.0
https://pypi.org/project/cassandra-driver/#history

Our Release versions - 3.21.0 3.22.0 3.22.1 3.22.2 3.22.3 3.24.0 3.24.1
https://pypi.org/project/scylla-driver/#history

[2021-02-22 19:25] tzach commented on #95
@fruch the info is from you

[2021-03-09 11:26] piodul opened #96 "Add support for CDC partitioner/per-table partitioners"
Recently, Scylla gained support for tables with custom partitioners. In this context, a partitioner is an algorithm which computes a token (a `i64` value) from a partition key. When a table uses a custom partitioner, its data is distributed differently - based on the custom partitioner, not the global partitioner.

Shard/token aware drivers which are unaware of this - just like this one - will cal

[2021-04-25 04:23] widavies opened #97 "Question: Is the special "not set" character supported?"
According to the [Cassandra v4 binary protocol](https://github.com/apache/cassandra/blob/3bcab600edcd8428f19b89f10d48a09f447e6715/doc/native_protocol_v4.spec#L231), in addition to support for the "null" value (which effectively marks a column for deletion), there is a special "not set" value.

Is this supported in python-driver? I looked around and couldn't find it in the documentation. "not set"

[2021-04-25 06:13] nyh commented on #97
The bug tracker is not the place to ask questions (we have the scylladb-users mailing list in googlegroups.com for that). But I'll answer anyway: The answer is yes - Scylla does support the UNSET_VALUE technique added in v4 of the protocol
The way to use it is something in Python is something like:
[code]
If you look hard enough, you'll find this in the documentation as well -https://python-driver

[2021-04-25 06:13] #97 closed

[2021-04-25 16:00] widavies commented on #97
Sorry about that, appreciate the answer. Thanks for the help!

I think the documentation is clear enough. I guess the reason I had trouble finding it is I didn't know what it would be called. Searching for "not set" and "optional parameters" didn't produce any results. Not sure if maybe there's a more prominent way to label it, but I don't think it's that big of a deal one way or another.

[2021-04-25 18:46] nyh commented on #97
@lauranovich just FYI, since this was a question about documentation and maybe there is room for improvement in the documentation of this issue.

[2021-05-23 00:36] eedalong opened #98 "Question About Shard Awareness"
Hi guys, I am a bit confused about the concept of "shard-aware driver", does this mean we know which shard contains data for a certain query so we send request to that shard directly?  Does each shard has their own port or request will be dispatched to that shard?

[2021-05-23 06:24] nyh commented on #98
Hi @eedalong this is a bug tracker, not a place to ask questions - for that we have the scylla-users mailing list on googlegroups.com - but I'll answer anyway and close the issue. There is an in-depth explanation of the shard-aware driver in https://ep2020.europython.eu/talks/a-deep-dive-and-comparison-of-python-drivers-for-cassandra-and-scylla/, but let me answer your questions. If there are spec

[2021-05-23 06:24] #98 closed

[2021-05-23 07:23] eedalong commented on #98
Great! Appreciate your answer. One quick question, so in `scylladb`, each shard starts it's own server so each shard has their own port right? @nyh

[2021-05-23 07:48] nyh commented on #98
No, I explained that this is not the case - there is just one port on the server side - 19042. The forwarding of incoming connections to different shards happens according to the client port.

I am guessing (but someone else who is more familiar with this code, please correct me if I'm wrong) is that Scylla has little control over the hardware's "receive packet steering" - we can't define that con

[2021-05-23 08:56] eedalong commented on #98
OK..., Thx!  I think it'll be great if  more docs about request forwarding to different cores added.

[2021-07-14 07:06] sanmoengage opened #100 "Unable to connect to any servers"
Hi, I have been trying to use scylla-driver client for python 2.7 and none of them have been able to connect to the server. I tried 3.24.1, 3.22.0.

I am getting the below error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "cassandra/cluster.py", line 1660, in cassandra.cluster.Cluster.connect
  File "cassandra/cluster.py", line 1696, in cassandra.cluster.Clust

[2021-10-08 07:20] chrkorn opened #107 "fetched maps are always empty"
When executing a query against a table with a map typed column, the returned python object never has any data in it.

Minimal reproduction (I'm using version 3.24.5 of the python driver):
[code]

This always prints {}, and debugger inspection shows that row.b does not contain any data. I found this to be always true also in other tables and with more complex types used as map key or value types as

[2021-10-08 11:06] ultrabug commented on #107
Hi @chrkorn can you reproduce this using the cassandra-driver please?

[2021-10-10 08:14] tzach opened #109 "Add docs site to the project about"
Add link to https://python-driver.docs.scylladb.com to the project About in Github

[2021-10-17 10:47] bentsi opened #111 "Race condition when closing connections during shutdown sequence"
[code]

[2021-10-28 22:06] dkropachev opened #118 "[Asyncore] HostConnection.shutdown can lead to deadlock"
HostConnection.shutdown is executed on self._lock, and cloud call self.error_all_requests, which can lead to calling HostConnection.return_connection which is trying to obtain self._stream_available_condition, which is based on HostConnection._lock

Stack trace:

[code]

It is regression since https://github.com/scylladb/python-driver/pull/112/commits/18eef5cb43d54311239c53e911011d6b7e76a8c5

[2021-11-16 09:23] FatmaBouzghaia opened #120 "Connection Leaks with scylladriver"
We would like to report an issue of connection leaks using scylladriver latest version

## Problem

Connection leaks using scylladriver-3.24.7

## Context

When running this code, we have some connection leaks. Calling the cluster.shutdown() doesn't seem to close all the connections.
We'd like to precise that this problem only occurs when using the protocol_version=3; with the protocol_version=2,

[2021-11-19 17:38] dkropachev opened #121 "Host metadata broadcast_rpc_port is None"
By some reason host metadata has `broadcast_rpc_port` in None, while it is expected to be 9042
Here is list of tests that are failing due to this:

- test_control_connection_port_discovery
- test_single_interface
- test_host_addresses

[2021-12-13 16:04] fruch commented on #107
@chrkorn also, any reason you are forcing `protocol_version=2` ? can you try with 3 or 4 ?

[2021-12-13 16:09] fruch commented on #100
Hi @sanmoengage we are kind on the verge of dropping python2.7 (also cassandra-driver on their master are working on that)
Any reason you are holding python 2.7 even after it's end of life ?

[2021-12-13 16:36] fruch commented on #120
@k0machi @dkropachev, this sounds related to #112, can you guys take a look ?

[2021-12-13 16:37] fruch commented on #109
done

[2021-12-13 16:37] #109 closed

[2021-12-13 16:44] fruch commented on #100
also can you add this on top, and share the output:
[code]

[2021-12-13 16:57] chrkorn commented on #107
I worked around it in my application, so forgive me for not having tried to reproduce with the cassandra driver.
As to the protocol_version - I suppose the honest (but, admittedly, not very valid) answer is negligence, I went along with an example I found and neglected to check for later protocol versions.

[2021-12-13 17:19] dkropachev commented on #120
Could be related, but does not look like it.
Will take a look.

[2021-12-13 17:39] dkropachev commented on #120
Issue confimed.

[2021-12-13 21:32] nyh commented on #107
I opened https://github.com/scylladb/scylla/issues/9791 about what seems to be broken support for `protocol_version=2`. I don't think we need to support that version of the protocol which was replaced a decade ago, and Cassandra no longer supports it - but trying it should have resulted with a clear error message - not empty results or even crashes like I saw in my test.

Can you please confirm th

[2021-12-14 10:55] dkropachev commented on #118
Fixed at https://github.com/scylladb/python-driver/pull/122

[2021-12-14 10:55] #118 closed

[2021-12-15 09:24] fruch commented on #107
@nyh I can confirm it's this is an issue related to the protocol version. i.e I've reproduce it, and using protocol version 3 or 4 fixes the issue

[2021-12-15 09:24] #107 closed

[2021-12-15 09:26] fruch commented on #120
Confirm, as you can reproduce it ? Can you create a reproducer test for it ?

[2022-01-13 17:56] dkropachev commented on #120
@FatmaBouzghaia , I've retested it on master and my test does not work there.
Could you please check it out on 3.24.8/3.25.0
Here is test I've used:

[code]

[2022-01-14 13:13] FatmaBouzghaia commented on #120
Hello @dkropachev ,
We retested our code with scylla-driver version 3.24.8/3.25.0 and there is always some leaks going on.
So, in your code you can add the protocol_version 3 when creating the cluster, it would be something like this:
`        with Cluster(["172.17.0.2"], protocol_version=3) as cluster:
`
Because with another version, we don't have some leaks.
And also, it is important to have the

[2022-01-20 15:35] nyh opened #132 "scylla-driver is 100 times larger than cassandra-driver"
I installed with "pip" both `scylla-driver` and `cassandra-driver` and noticed it reports that the download for the Scylla fork is 100 times larger than the Cassandra one - 28 MB compared to 280 KB.

I tried to look at the packages in https://pypi.org/project/scylla-driver/#files and noticed that while scylla-driver-3.25.0.tar.gz is small (similar to cassandra-driver's size), there are very large

[2022-01-22 12:46] chr1st1ank commented on #132
To me it seems as if this is because the dynamic libraries included in the manylinux builds are actually debug builds. For example:
[code]
(This file was from `scylla_driver-3.25.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl`)

I'm not an expert of classic Python extension builds and I have a hard time finding my way in the setup.py of this project. But from C++ experience I would say

[2022-01-22 20:11] Orenef11 commented on #132
I compared our `setup.py` file with the Datastax file, and they are almost equal, except for the following line:
https://github.com/scylladb/python-driver/blob/master/setup.py#L309-L310

Therefore, I agree with @chr1st1ank  that we are probably not creating the `whl` file correctly.

@fruch
I think there are still leftovers that the "whl" contains.
https://github.com/scylladb/python-driver/commit/

[2022-01-23 06:58] fruch commented on #132
Yeah seems like the tool we are using to build wheels doesn't force anything like building without debug or stripping it after the fact.

https://github.com/pypa/cibuildwheel/issues/331

We should try one of the two options

[2022-01-23 10:16] fruch commented on #132
testing one of them in this PR

[2022-01-23 10:35] fruch commented on #132
the tar.gz file is just the source code, with nothing compiled in it, so that makes a big portion of the difference
wheels are binaries distribution, and also includes depended .so (similar to scylla relocateable package), to be able to run without with the minimum dependencies

if it download only the `.tar.gz` file, it mean it didn't found a wheel matching you system or python version (i.e. cass

[2022-01-23 10:39] fruch commented on #132
[code]

[2022-01-23 11:12] Orenef11 commented on #132
@fruch @nyh
I think for our case, we need to use `-os`
https://www.linuxtopia.org/online_books/an_introduction_to_gcc/gccintro_49.html

[2022-01-23 14:03] dkropachev commented on #120
@FatmaBouzghaia , Thanks a lot, fix is ready.

[2022-01-23 15:05] #120 closed

[2022-01-23 22:31] chr1st1ank commented on #132
It seems that `-g0` is actually the default, so I'm wondering where the other level comes from. In general one should also optimize builds with `-O2` or `-Os`.
From redhat I found some recommendations for compiler flags: https://developers.redhat.com/blog/2018/03/21/compiler-and-linker-flags-gcc. Not sure if all make sense here, but surely it gives a baseline.

There's also a section about cython

[2022-01-24 05:45] #132 closed

[2022-01-24 05:58] fruch commented on #132
I believe the source of the flags is here, python is compiled with those, and that becomes the default for modules:
https://github.com/pypa/manylinux/blob/72ab18b4f3d83469c4e497cdb5a3877044808930/docker/build_scripts/build_utils.sh#L9

[2022-02-01 04:04] dimaqq opened #135 "asyncioreactor could use an update"
https://docs.python.org/3/library/asyncio-task.html#asyncio.coroutine

used here:
https://github.com/scylladb/python-driver/blob/bdc4bc489f223601913343843db22f732d438fcc/cassandra/io/asyncioreactor.py#L48-L52

[2022-03-01 19:27] A-Posthuman opened #137 "How to debug why my program isn't connecting to all shards?"
Hi, I posted this over on the scylla users list a few days back, and didn't see a response, so reposting here in case anyone has any help. Thanks

I've been working a bit to learn the Python driver, and am stuck a bit on getting it to fully connect to all my cluster shards.

My 3 nodes each only have 2 vcpu, so 2 shards on each node.

When I enable the debug logging in the python driver, I see mes

[2022-03-08 07:36] fruch commented on #137
@A-Posthuman there is a bit of confusion here (probably us no yet documenting it clearly), but using the shard-aware port isn't yet ready from the point of view of `scylla-driver` it's a work in progress in #54
meanwhile for shard awareness to work as expected please use the regular port i.e. 9042

cause the implementation of #54 is missing, using the shard aware port of scylla would land you on a

[2022-03-08 14:49] #62 closed

[2022-03-09 01:17] A-Posthuman commented on #137
Hi, thanks for responding. I admit I am still a little confused - I have tried using the normal port 9042 before I started experimenting with 19042, and in either case the stats never show my driver connected to all shards. Is there any way with the current driver to be connected to all shards, or does that depend on a future driver update (issue #54) that you mentioned?

[2022-03-09 06:09] fruch commented on #137
Driver should connect to all shard eventually (it might take awhile until it hit the all the shard, without shard aware port Scylla randomly select shard on each new connection)

Can you try again with 9042 port, and supply a full log of the client end. also on which scylla version and scylla-driver you are  working with, so I might be able to recreate.

[2022-03-09 22:12] A-Posthuman commented on #137
Ahh ok, I didn't realize it might take a while to connect to them all. After looking at the debug output on a longer run of my program I do see with port 9042 it eventually connects to all shards. So you can close this issue, thanks for your assistance.

[2022-03-10 05:32] fruch commented on #137
@A-Posthuman that o.k. BTW meanwhile #54 is merged and released

[2022-03-10 05:43] A-Posthuman commented on #137
Cool I will try it out very soon, thx!

[2022-03-10 21:47] A-Posthuman commented on #137
Tested it today, seems to work well with port 19042 now. Cool

[2022-03-24 07:50] #137 closed

[2022-03-24 07:55] fruch opened #139 "Metadata/Schema queries are not paginated"
We need to add paging to schema queries because sometimes there are thousands or tens of thousands rows in schema tables.

Unfortunately, the driver is written in such a way that internal queries are using simplistic query mechanism that does not support paging.

Ref. the java-driver implementation: https://github.com/scylladb/java-driver/pull/115

[2022-03-24 07:58] fruch commented on #139
I'm thinking we might want to fix it first on the upstream, maybe we could do both at the same time.

[2022-03-28 15:42] #139 closed

[2022-05-01 00:19] github-actions[bot] opened #143 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 118   |
| ✅ Successful | 110   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in README-dev.rst
* [https://github.com/riptano/python-dse-driver-wheels](https://github.com/riptano/python-dse-driver-wheels): F

[2022-05-01 07:26] fruch opened #144 "Prefer primary replica for the token for LWT queries"
see https://github.com/scylladb/java-driver/issues/24 for full explanation by @kostja

The java implementation:
https://github.com/scylladb/java-driver/pull/125

The Go implementation:
https://github.com/scylladb/gocql/pull/49

[2022-05-08 00:14] github-actions[bot] opened #145 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 118   |
| ✅ Successful | 110   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/graph_fluent.rst
* [https://www.datastax.com/dev/blog/datastax-drivers-fluent-apis-for-dse-graph-are-out](https://www.dat

[2022-05-15 00:19] github-actions[bot] opened #146 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 118   |
| ✅ Successful | 110   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/upgrading.rst
* [http://cassandra.apache.org/doc/cql3/CQL-3.0.html#batchStmt](http://cassandra.apache.org/doc/cql3/CQL-3.

[2022-05-22 00:15] github-actions[bot] opened #148 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 118   |
| ✅ Successful | 110   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/installation.rst
* [http://aka.ms/vcpython27](http://aka.ms/vcpython27): Failed: Network error

### Errors in README-dev.

[2022-05-25 10:34] annastuchlik opened #149 "Update the project name to properly display the documentation"
In the Python driver documentation, there is a message that refers the user to the latest stable version. The message is the same for all the projects and it utilizes the project name. In the Python driver, the name is"Cassandra Driver", which makes the message confusing.
Could you replace "Cassandra Driver" with " Scylla Python Driver"?
![image](https://user-images.githubusercontent.com/37244380/

[2022-05-25 11:38] tzach commented on #149
You need to update the project name
https://github.com/scylladb/python-driver/blob/master/docs/conf.py#L50

[2022-05-26 16:33] #149 closed

[2022-05-29 00:16] github-actions[bot] opened #151 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 118   |
| ✅ Successful | 110   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/upgrading.rst
* [http://cassandra.apache.org/doc/cql3/CQL-3.0.html#batchStmt](http://cassandra.apache.org/doc/cql3/CQL-3.

[2022-05-30 19:20] MicaelJarniac opened #152 "Speed bottleneck on deepcopy"
We're having issues with extremely slow queries while using the object mapper. The raw query itself isn't slow, but instancing the objects in Python seems to be.

While profiling, we noticed that there seems to be a bottleneck on the following line, using `deepcopy`:
https://github.com/scylladb/python-driver/blob/94b64bb5571ed9c47d8cb7e8e19fcb6806cf1f2f/cassandra/cqlengine/columns.py#L1041

We're

[2022-06-05 00:17] github-actions[bot] opened #153 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 118   |
| ✅ Successful | 110   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in README-dev.rst
* [https://github.com/riptano/python-dse-driver-wheels](https://github.com/riptano/python-dse-driver-wheels): F

[2022-06-12 00:16] github-actions[bot] opened #154 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 118   |
| ✅ Successful | 110   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/graph_fluent.rst
* [https://www.datastax.com/dev/blog/datastax-drivers-fluent-apis-for-dse-graph-are-out](https://www.dat

[2022-06-16 15:01] ultrabug commented on #152
FYI @jsurloppe @dargor @wyfo since we're into Python Scylla perf analysis: maybe we're affected somehow too and investigating could help?

@MicaelJarniac please be kindly reminded that we maintain a fork of the official cassandra driver here so we don't have all the background and history on every design and legacy decision

The plan of ScyllaDB is to switch out from this fork someday and use the

[2022-06-19 00:15] github-actions[bot] opened #156 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 118   |
| ✅ Successful | 110   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/upgrading.rst
* [http://cassandra.apache.org/doc/cql3/CQL-3.0.html#batchStmt](http://cassandra.apache.org/doc/cql3/CQL-3.

[2022-06-26 00:18] github-actions[bot] opened #158 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 118   |
| ✅ Successful | 110   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 1     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 7     |

## Errors per input
### Errors in docs/cqlengine/queryset.rst
* [http://cassandra.apache.org/doc/cql3/CQL-3.0.html#tokenFun](http://cassandra.apache.org/doc/cql

[2022-06-26 15:08] #146 closed

[2022-06-26 15:08] #143 closed

[2022-06-26 15:08] #145 closed

[2022-06-26 15:09] #148 closed

[2022-06-26 15:09] #151 closed

[2022-06-26 15:09] #153 closed

[2022-06-26 15:09] #154 closed

[2022-06-26 15:09] #156 closed

[2022-06-26 15:09] #158 closed

[2022-06-26 15:22] fruch commented on #152
I think this can easily be replaced by dict comprehension

[code]

[2022-07-16 11:06] ultrabug commented on #152
@MicaelJarniac did you try what @fruch is proposing by any chance?

[2022-07-16 11:59] wyfo commented on #152
I'm just wondering why is there `or` instead of `and` in
[code]
I mean, `to_python` seems to be a method of `BaseContainerColumn`, it's illogical to call it if only the first part of the test is true.

I also think there is a mistake in @fruch code because `if value is not None` should be `if value[name] is not None`.

I don't know this driver, so I don't know if there is some hidden implications

[2022-07-17 11:58] fruch commented on #152
@MicaelJarniac @wyfo, since this part of the code isn't scylla specific,
if this change is that much impact, I would suggest taking it upstream to https://github.com/datastax/python-driver (so the rest of the community would gain from it)

[2022-07-19 20:44] MicaelJarniac commented on #152
I was originally going to open this issue there, but they don't use GitHub Issues; they want us to create an account on another tracker or whatever, so I didn't bother to go through their bureaucracy.

But I agree, it'd make more sense for this to go there instead.

I haven't tested it yet, sadly.

[2022-07-19 20:53] MicaelJarniac commented on #152
https://datastax-oss.atlassian.net/browse/PYTHON-1309

[2022-07-19 20:57] fruch commented on #152
@MicaelJarniac if you'll get a cold shoulder there, we could try applying those fixes here, but I'll first would want to enable the cqlengine integration tests, we are not really running them under this fork.

also if you guys some benchmark test you are using, it would be nice if you could share them (or even contribute them as tests)

[2022-08-04 16:59] fruch commented on #91
An example how users we're trying to achieve it:

https://gist.github.com/tiamot/5818a4ac7109e49a7509

[2022-08-17 15:30] k0machi opened #162 "CQL engine doesn't support indices on collection types"
Title. Trying to create a model that includes an indexed collection column as index produces a table which doesn't freeze said collection column, leading to an error when trying to create the index.

[code]
produces following query:
[code]

[2022-08-17 15:33] k0machi opened #163 "CQLEngine stores naive timezone information - without an established default timezone"
Using a datetime column the timezone information is lost and timestamp is sent off as is, where it is seemingly interpreted as UTC-0 timezone, leading to a confusion. I'm suggesting to instead convert said timestamp into UTC one if its timezone differs before submitting.

[code]

[2022-08-24 10:30] manawasp opened #165 "Python 3.9 & 3.10 support"
Hello,

I'm currently working with an application using the current scylla driver, I recently bumped the application python version from 3.8 to 3.10 and after that the ci slow down (additional 2-3 min) as the wheel is not available in this version.

Could it be possible to add support for python version 3.9 & 3.10 ?

[2022-08-31 13:30] fruch commented on #165
@manawasp
we do have wheel for 3.9 and 3.10:
https://pypi.org/project/scylla-driver/#files

and for 3.9 we have since:
https://pypi.org/project/scylla-driver/3.22.3/#files

and for 3.10 we have since:
https://pypi.org/project/scylla-driver/3.24.8/#files

can you check which version you were using ?

[2022-09-01 10:25] manawasp commented on #165
Hello @fruch ,

We are in `3.24.5` so we just have to bump our version to get the wheel, damn I should have checked the pipy files,
Thank you, it's good for me !

_Maybe it could be nice to add the support information to the readme ?_

[2022-09-01 10:40] fruch commented on #165
yeah, that's a bit lazy of me, I was just adding them as people were asking for.
didn't thought much about explaining it in the readme, I would.

[2022-09-13 05:07] A-Posthuman opened #167 "possible bug when using multiple contact_points"
I'm running into an issue where with the current driver if I specify more than 1 contact point, I still end up only connected to 1 host in the cluster.

However if I only specify 1 contact point for the cluster then I connect to all 3 nodes in the cluster. Am I doing something wrong, or is this a bug? Here is example code and debug prints:

[code]

debug prints, show "Removing host not found in pe

[2022-09-14 16:24] kbr- opened #168 "Deadlock when performing a schema change right after killing a node"
Datastax JIRA issue: https://datastax-oss.atlassian.net/browse/PYTHON-1312

The `Cluster` class stores an `executor object`, which can be a `ThreadPoolExecutor` or a different type of executor with the same interface:
[code]
the default value for `executor_threads` is `2`.

One possible task running on the executor is waiting for schema agreement:
[code]
`scheduler.schedule_unique` sends a task to

[2022-09-14 16:27] kbr- commented on #168
Well, we’re not exactly deadlocked: eventually `wait_for_schema_agreement` times out. But we shouldn't timeout if the DOWN notification reaches us earlier; we should handle the notification, mark the node as dead, and `wait_for_schema_agreement` should proceed.

[2022-09-19 08:58] fruch commented on #165
latest version do support both

[2022-09-19 08:58] #165 closed

[2022-09-19 09:01] fruch commented on #167
sound like is this issue:
https://github.com/scylladb/python-driver/pull/166/commits/e3af23b220e79ffddaee4763d586489ef2872ee5

can you get the version from master branch in github ? (we didn't yet released)

[2022-09-19 18:39] A-Posthuman commented on #167
I see you've tagged a new release 3.25.6-scylla, will that be available via pip upgrade soon? That would be easier for me to test.

[2022-09-19 20:12] fruch commented on #167
yes it's now available:
https://pypi.org/project/scylla-driver/3.25.6/#files

[2022-09-19 20:41] A-Posthuman commented on #167
Ok tested 3.25.6 and that seems to have solved the issue, so you can close this, thanks.

[2022-09-20 04:09] #167 closed

[2022-09-20 08:12] fruch commented on #167
@A-Posthuman thanks, and sorry for the inconvenience (I'm the one introduced that bug... 😭)

[2022-09-21 06:11] tzach opened #169 "Doc site latest release return 404"
https://python-driver.docs.scylladb.com return 404
Maybe related to the latest upgrade to 3.25.6 (not sure)
https://github.com/scylladb/python-driver/commit/e4c508405215496fabadd91e175f2f9f713c785a

[2022-09-21 06:13] tzach commented on #169
https://python-driver.docs.scylladb.com/3.25.4-scylla/ is alive
but https://python-driver.docs.scylladb.com/3.25.6-scylla/ (which is the latest) is not (404)

[2022-09-21 06:18] tzach commented on #169
Look like 3.25.6-scylla is not built, while other releases do
![image](https://user-images.githubusercontent.com/170200/191428450-b110c42b-96e7-4608-ba39-032520bc1eaf.png)

[2022-09-21 06:39] fruch commented on #169
I've fixed it

See my comment at:
https://github.com/scylladb/scylladb/issues/11593#issuecomment-1253266575

But we should fix the workflow to fail on such cases

[2022-09-21 07:35] #169 closed

[2022-09-21 07:36] tzach commented on #169
Cheers for the quick fix!

[2022-09-25 12:31] kbr- opened #170 "Driver not reconnecting to a restarted node due to a race"
The following scenario may cause the driver to enter a state in which it has 0 connections established to one of the nodes, and it doesn't attempt to reconnect even though we try to execute a statement on that node.

- Start a 2 nodes cluster with smp=2, let's call them A, B. It's important that smp > 1, so the driver establishes more than 1 connection to each node.
- Connect to the cluster. Wait

[2022-09-26 13:23] kbr- commented on #170
A potential fix would be to ensure we call `on_down` after we call `self.shutdown()` in `HostConnection.return_connection`.

[2022-09-28 06:10] fruch commented on #170
@alecco my hunch regarding which connection type is used wasn't that off.

Anyhow we should start using scylla-driver in dtest (at least once a week), anyhow we are not fully covering all the connection types when testing, I would still consider libev one to be the default, since that what users installing from wheels would get.

[2022-10-04 13:51] kbr- opened #172 "Driver hanging for >3 minutes when shutting down"
We have this code in Scylla Python tests:
[code]
where `self.ccluster` is an instance of `CassandraCluster` that was previously `connect()`ed.

This code sometimes results in logs like these:

[code]

Notice the timestamps of last two log messages: there's over 3 minutes difference! (and I observed the hang with my own eyes).

If I manage to get more details I'll post them here.

[2022-10-11 08:18] piodul opened #173 "Add support for ScyllaDB's per partition rate limiting's new error"
The upcoming ScyllaDB 5.1 introduces a feature called per-partition rate limiting. In case the (user defined) per-partition rate limit is exceeded, the database will start returning a new kind of error, or fall back to Configuration_error if the driver does not support it.

Because the new error should be propagated to users and handled differently than other errors, the driver should be prepared

[2022-10-11 12:18] soyacz opened #174 "key error when getting session.cluster.metadata.keyspaces when there's many keyspaces"
When there's >1000 keyspaces (maybe less) `key error` is thrown when accessing `session.cluster.metadata.keyspaces[ks]`: `KeyError: 'keyspace103'` - it reproduces always on this key (on my machine).
Reproducer code (might need to run twice to reproduce):
[code]

[2022-10-18 08:09] #170 closed

[2022-10-18 11:49] avelanarius commented on #168
Assigning @Lorak-mmk - this is a higher priority task than writing the test for  https://github.com/scylladb/python-driver/pull/171

[2022-11-03 16:20] k0machi commented on #152
I've also encountered this issue with a Model that contains a UDT that contains a list of nested UDTs, this `deepcopy` call extends the query well into dozens of seconds in such a scenario.

[2022-11-08 14:23] roydahan commented on #174
@avelanarius can you please take a look at this?

[2022-11-08 15:01] avelanarius commented on #174
Yes, we can look into it, but https://github.com/scylladb/python-driver/issues/168 is higher priority (impacting Raft testing) so that issue will be tackled first.

[2022-11-08 15:38] roydahan commented on #174
Sure, prioritize it as you see it.

[2022-11-10 13:50] fruch commented on #174
@soyacz can you specify with which version the issue happened ?

creation and propagation to the metadata object isn't immediate, I think it's wrong to assume so..

[2022-11-13 10:21] fruch commented on #174
looking at it again closely, it should be immediate and it's a bug in metadata pagination, that we fail to yield the last page in some situation.

I'll send a fix soon

[2022-11-13 10:24] fruch commented on #174
Also a quick work around would be to change `schema_metadata_page_size` to a bigger number, like 2x the number of keyspaces excepted.

[2022-11-13 17:23] fruch opened #179 "ScyllaCloudConfigTests (sni_proxy) are failing to run correctly inside github action"
since the changes in https://github.com/scylladb/python-driver/pull/177

we are having those failure in github actions:
[code]

while the test works fine locally.

[2022-11-15 12:05] #174 closed

[2022-11-23 09:52] fruch commented on #179
Now they are working as expected

[2022-11-23 09:52] #179 closed

[2022-11-24 08:43] benipeled opened #183 "[test-failure] test_deprecation_warnings_meta_refreshed"
Seen for the first time, didn't try to reproduce it, might cause by infra

[code]

https://jenkins.scylladb.com/job/scylla-5.0/job/driver-tests/job/python-driver-matrix-test/47/

[2022-11-24 16:51] fruch opened #184 "Using WhiteListRoundRobinPolicy with public address, while node uses public address is broken"
When `WhiteListRoundRobinPolicy` is configured with the list of contact_points which are all public addresses
the new code introduced by for cloud bundle, seems to be removing those from the list of host, while adding the new host with internal ips (cause this have the same host_ids), and we are left with no host to connect to

Ref: https://github.com/scylladb/scylla-cluster-tests/issues/5473

[co

[2022-11-24 16:53] fruch commented on #184
seems like we been a bit too eager with the `host_id` implementation.

doesn't the gocql have something similar to `WhiteListRoundRobinPolicy` ? would it work ?

[2022-11-27 15:09] fruch opened #187 "[Shardaware] `USE keyspace` CQL command are not always executed on all connections"
Once https://github.com/scylladb/scylla-tools-java/pull/319 was merged
we run into test that started failing

Seems like not all the connections are getting the `USE keyspace`, or getting it after other CQL command already executing on them.

Ref: https://github.com/scylladb/scylla-dtest/issues/2923

[2022-11-27 15:11] fruch commented on #187
@avelanarius Can you help us with this one ? (otherwise we might need to revert some cqlsh work recent work)

[2022-11-28 17:20] #184 closed

[2022-11-28 21:00] avelanarius commented on #187
Quick update: Today me and @Lorak-mmk together looked at the issue. We were not able to reproduce the failure when running dtests locally, also we ran cqlsh "stress test" (invoking USE keyspace repeatedly) without hitting the problem and started on analyzing the driver code. I'll continue the work tomorrow.

[2022-11-28 21:07] fruch commented on #187
try with:
[code]

or even with more smp, it might make it fail more quickly.

as for a stress, I think it's mostly about the initial connection being made, after the point all connection are connected, I don't think there are problem todo `USE keyspace`, I think it's a race regarding `USE keyspace` happening before all of the connection are opened to all shards (do during them getting opened, but

[2022-11-28 21:17] nyh commented on #187
If I understand @fruch's theory correctly, it is that when the USE is called by the user very early in the driver's life, the extra connections to other shards have not yet been opened, and they are opened a fraction of a second later in the background - and forget to copy the current USE. If this is the case then reproducing this problem may require very slow background opening of the other conne

[2022-11-28 21:24] avelanarius commented on #187
I started trying out this hypothesis - introducing an artificial delay for connections to other shards. I haven't yet been able to see the issue - but tested it only for a short time.

Yes, we started trying out this scenario.

[2022-11-28 21:40] nyh commented on #187
Don't forget it's not enough to delay the extra connections - you also need to delay the client's second request (the one trying to use the table without a keyspace) even longer. If you don't, and the client's second request comes quickly, I am guessing (?) it will just send the request to the original connection, the one with the correct USE, and everything will be fine. I think you need to sleep

[2022-11-28 21:48] avelanarius commented on #187
Success! Reproduced!

Artifical delays to Python Driver:

[code]

Reproduction script:
[code]

Typical output:
[code]

[2022-11-28 21:49] fruch commented on #187
I'll add to this

Trying to create a select that must land on shard=1 (or any other shard not from the initial connection)

I think it's trying to send this select in a very small time frame, between the new connection is opened and added to the connections dict, to the time the set keyspace command is execute on that connect.

I think we don't block this connection from getting requests, if it's

[2022-11-28 21:54] avelanarius commented on #187
And even cleaner reproducer (still needs artifical sleeps in driver as posted here: https://github.com/scylladb/python-driver/issues/187#issuecomment-1329800783):
[code]

[2022-11-28 21:54] fruch commented on #187
Also it's reproduced (even locally for me, not 100%) with the driver embedded inside cqlsh together with dtest.

So you need to pick specific scylla version from master that has it in.

[2022-11-29 08:29] mrVanboy opened #188 "docs: Broken links in page Scylla Specific Features"
I would like to report an issue in page https://python-driver.docs.scylladb.com/3.25.9-scylla/scylla_specific

### Problem

Broken links

#### First case
Link to the `https://github.com/scylladb/scylla/blob/master/docs/design-notes/protocol-extensions.md#intranode-sharding` is broken.

Location: [2nd paragraph of the Shard Awareness section](https://python-driver.docs.scylladb.com/stable/scylla_sp

[2022-11-30 21:27] fruch commented on #188
@mrVanboy thanks for this one, the docs on the scylla core repo has changed a bit, we'll look into it.

[2022-11-30 21:30] fruch commented on #188
this is the correct link:
https://github.com/scylladb/scylladb/blob/master/docs/dev/protocol-extensions.md#intranode-sharding

[2022-11-30 21:33] #188 closed

[2022-11-30 21:34] fruch commented on #187
fixed by #190

[2022-11-30 21:34] #187 closed

[2022-11-30 22:16] fruch opened #191 "publish docs got broken"
seems like the docs are not building anymore
https://github.com/scylladb/python-driver/actions/runs/3587217534/jobs/6037312091

[2022-11-30 22:16] fruch commented on #191
@dgarcia360 can you take a look ?

[2022-11-30 22:21] #191 closed